@charset "utf-8";

@font-face {
    font-family: "Klee One";
    src: url("../external/KleeOne-Regular.woff2") format("woff2");
    font-display: swap;
}

html,
body,
button,
input,
select,
textarea {
    font-family: "Klee One", sans-serif;
}

/* ____ 主要部分 ____ */
main {
    width: 100% !important;
    min-height: calc(100vh - 16rem) !important;
    min-height: calc(100dvh - 16rem) !important;
}

/* === スライダー部分 === */
#st_mn_slider {
    width: 100%;
    height: calc(100vh - 16.4rem);
    height: calc(100dvh - 16.4rem);
}

/* 画像容器 */
#st_mn_slider > div {
    height: 100%;
    padding-top: 3rem;
}

.slick-slide > div > div {
    overflow: visible;
}

.slick-slide img {
    height: calc(100vh - 16rem - 3rem - 7rem);
    max-width: 80vw;
    aspect-ratio: auto;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    border-radius: 1rem;
    box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.3);
}

/* スイッチ部分 */
ul {
    list-style-type: none;
}

ul.slick-dots {
    height: 6rem;

    margin: 0;
    padding: 0;
    line-height: 1;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: -3rem;
}

ul.slick-dots li {
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
}

ul.slick-dots li button {
    display: block;
    border: none;
    padding: 0;
    text-indent: -9999px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    cursor: pointer;
    background: #ccc;
}

ul.slick-dots li.slick-active button {
    background: #7e6b50;
}

@media screen and (orientation: portrait) {
    .slick-slide img {
        height: calc(100vh - 16rem - 3rem - 7rem - 6rem);

        max-width: 72vw;
    }

    ul.slick-dots {
        bottom: -1rem;
    }
}

/* === 正文部分 === */
#st_mn_content {
    width: 90%;
    height: max-content;
    min-height: calc(100vh - 20rem);
    min-height: calc(100dvh - 20rem);
    margin: 2rem 0;
    padding: 0;

    background: #fbfcfb;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    overflow: hidden;
}

/*
* ========================
*     正文サイドバー部分
* ========================
*/

#st_mn_ct_side {
    width: 20%;
    min-width: 16rem;
    height: max-content;
}

#st_mn_ct_side > div {
    width: 100%;
    height: max-content;
}

.st_mn_ct_sd_works {
    width: calc(100% - 2.4rem);
    margin-top: 1rem;
    margin-left: 1rem;
}

.st_mn_ct_sd_works:first-child {
    margin-top: 1.5rem;
}

.st_mn_ct_sd_works:last-child {
    margin-bottom: 1rem;
}

.st_mn_ct_sd_works > a {
    width: 100%;

    border-radius: 0.5rem;
    overflow: hidden;
}

.st_mn_ct_sd_works > a > img {
    width: 100%;
    height: max-content;
}

.st_mn_ct_sd_wk_info {
    height: max-content;
    margin: 0.7rem 0 1.2rem 0;
}

.st_mn_ct_sd_wk_info > * {
    font-size: 0.96rem;
}

/*
* ========================
*       正文メイン部分
* ========================
*/

#st_mn_ct_main {
    width: calc(80% - 2rem);
    height: max-content;

    padding: 1.5rem;
}

/* ------ お知らせ部分 ------ */
#st_mn_ct_mn_notice {
    width: 100%;
    margin-bottom: 2rem;
}

.st_mn_ct_mn_n_ls_news {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

.st_mn_ct_mn_n_ls_news:first-child {
    padding-top: 0;
}

.st_mn_ct_mn_n_ls_n_info {
    padding-bottom: 0.6rem;
}

.st_mn_ct_mn_n_ls_n_info > time {
    font-size: 0.9rem;
    font-weight: bold;
    margin-right: 0.4rem;
}

/* お知らせ・商品：グループタイトル */
#st_mn_ct_mn_n_title {
    width: 100%;
}

#st_mn_ct_mn_n_title > span,
.st_mn_ct_mn_pd_g_title {
    clear: both;

    width: 100%;

    color: #7e6b50;
    font-size: 1.4rem;
    font-weight: bold;

    padding-left: 1rem;
    padding-bottom: 0.4rem;
    margin-bottom: 1.25rem;
    border-bottom: 0.2rem solid #7e6b50;
}

/* セールスページ */
#spec_sells_handcream:hover {
    border: 0.2rem solid #7e6b50;
    color: crimson;
    background: #eafcff;
    transition: all 0.2s ease-in-out;
    border-radius: 0.8rem;
}

/* ------ 商品部分 ------ */
#st_mn_ct_mn_product {
    width: 100%;
}

/* 商品グループ */
.st_mn_ct_mn_pd_group {
    width: 100%;
    margin-bottom: 1.25rem;
}

/* グループリスト */
.st_mn_ct_mn_pd_g_list {
    width: 100%;
    height: max-content;

    margin: 0;
    padding: 0.5rem;
}

/* 商品カードユニット */
.st_mn_ct_mn_pd_g_ls_work {
    max-width: 24vh;
    margin: 0.5rem !important;
    padding: 0;
}

.st_mn_ct_mn_pd_g_ls_work > a {
    width: 100%;
    aspect-ratio: 1 / 1;
}

.st_mn_ct_mn_pd_g_ls_work > a > img {
    width: 100%;
    height: 100%;
}

/*
* ========================
*    正文部分レスポンシブ
* ========================
*/

@media screen and (orientation: portrait) {
    /* === 正文サイドバー部分 === */
    #st_mn_content {
        flex-direction: column;
    }

    #st_mn_ct_side,
    #st_mn_ct_main {
        width: 100%;
    }

    #st_mn_ct_side {
        min-height: 24rem;
        overflow: scroll hidden;
        height: max-content;
    }

    #st_mn_ct_side > div {
        flex-direction: row;
        padding-top: 1rem;

        /* PC仕様リセット */
        width: max-content;
        height: 100%;
    }

    /* ハンドクリームモバイル広さ修正用だけ */
    #st_mn_ct_side > div > div:nth-child(2) > a > * {
        max-width: 13rem;
    }

    .st_mn_ct_sd_works {
        height: max-content;
        /* PC仕様リセット */
        width: auto;
    }

    .st_mn_ct_sd_works:first-child {
        /* PC仕様リセット */
        margin-top: 1rem;
    }

    .st_mn_ct_sd_works:last-child {
        margin-right: 0.5rem;
        /* PC仕様リセット */
        margin-bottom: 0;
    }

    .st_mn_ct_sd_works > a {
        height: 18rem;
        /* PC仕様リセット */
        width: max-content;
    }

    .st_mn_ct_sd_works > a > img {
        height: 100%;
        /* PC仕様リセット */
        width: max-content;
    }

    .st_mn_ct_sd_wk_info > * {
        font-size: 0.9rem;
    }

    /* === 正文メイン部分 === */
    #st_mn_ct_main {
        height: calc(100% - 16rem);

        /* PC仕様リセット */
        margin-left: 0;
    }

    .st_mn_ct_mn_pd_g_title,
    .st_mn_ct_mn_pd_g_list {
        justify-content: center;
    }

    #st_mn_ct_mn_n_title > span,
    .st_mn_ct_mn_pd_g_title {
        width: max-content;
        /* PC仕様リセット */
        padding-left: 0;
    }

    .st_mn_ct_mn_pd_g_list {
        width: calc(100% - 1rem);
        margin: 0 auto;
        padding: 0.5rem 0;
    }

    .st_mn_ct_mn_pd_g_ls_work {
        max-width: 45% !important;
    }
}
