error_page 404 /common/404.html;
error_page 502 /common/404.html;

rewrite ^/(?:old|game|JIMUCTI)(?:/.*)?$ /standalone$uri last;

# /old, /game, /JIMUCTI 本体と配下を /standalone へ
rewrite ^/(old|game|JIMUCTI)(/.*)?$ /standalone$uri last;

# /work/数字 だけを内部リライト
rewrite ^/work/([0-9]+)/?$ /work/index.php?id=$1 last;

# /work と /work/ は gallery へ
rewrite ^/work/?$ /gallery permanent;

location / {
    try_files $uri $uri/ $uri.php?$query_string;
}
