@charset "utf-8";

:root{
    --scrollbar-track-bg: rgba(0, 0, 0, 0.01);
    --scrollbar-thumb-bg: rgba(0, 0, 0, 0.01);
}

*{
    font-family: "Klee One", cursive;
    font-weight: 400;
    font-style: normal;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    box-sizing: border-box !important;
}

html, body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* 一般容器 */
div{
    box-sizing: border-box!important;
    overflow: hidden;
}

/* スクロールバー */
::-webkit-scrollbar{
	height: 4px;
	width: 4px
}

::-webkit-scrollbar-track{
	background: var(--scrollbar-track-bg);
	border-radius: 2px;
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.08);
	box-shadow: inset 0 0 5px rgba(0,0,0,.08)
}

::-webkit-scrollbar-thumb{
	background: var(--scrollbar-thumb-bg);
	border-radius: 2px;
	-webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.2);
	box-shadow: inset 0 0 10px rgba(0,0,0,.2)
}

::-webkit-scrollbar-thumb:hover{
	background: #9fcff7
}

::-webkit-scrollbar-corner{
    background: var(--scrollbar-thumb-bg);
}

/* 選択禁止クラス */



/*
* -------------------------------------------------
* -------------------------------------------------
* -------------------------------------------------
*/

/* ステージ整体 */
#stage{
    width: 100%;
    height: 100%;
    overflow: hidden scroll;

    scroll-behavior: smooth;
}


/* -------------------------------------------- */
/* ナビゲーション部分 */
nav{
    width: 100%;
    height: 10rem;

    /* DEBUG */
    background-color: bisque;
}

/* モバイルメニュー呼び出しボタン */
#st_nv_cmbtn{
    display: none;
}

@media screen and (orientation: portrait) {
    #st_nv_cmbtn{
        display: block;
        z-index: 7;
        position: absolute;
        left: 1rem;
        width: 3rem;
        height: 3rem;
        overflow: hidden;
        background-color: #37ecba;
        border-radius: 1rem;
        padding: 0;
    }
}

/* ブランド */
#st_nv_brand{
    width: 25%;
    height: 80%;

    /* DEBUG */
    background-color: chocolate;
}

/* PCメニュー */
#st_nv_menu{
    width: 75%;
    height: 80%;

    /* DEBUG */
    background-color: violet;
}


/* -------------------------------------------- */
/* 主要部分 */
main{
    width: 100%;
    min-height: calc(100vh - 10rem);
    min-height: calc(100dvh - 10rem);
}

/* スライダー部分 */
#st_mn_slider{
    width: 100%;
    height: calc(100vh - 10.4rem);
    height: calc(100dvh - 10.4rem);
}

#st_mn_sl_main{
    height: calc(100% - 6rem);

    /* DEBUG */
    background-color: cornflowerblue;
}

#st_mn_sl_switch{
    height: 6rem;

    /* DEBUG */
    background-color: antiquewhite;
}

/* 正文部分 */
#st_mn_content{
    margin-top: .4rem;
    width: 100%;
    height: max-content;
}

#st_mn_ct_side{
    width: 20%;
    min-width: 16rem;
    height: max-content;

    /* DEBUG */
    background-image: linear-gradient(0deg, #a8edea 0%, #fed6e3 100%);
}

#st_mn_ct_side > div{
    width: 100%;
    height: max-content;
}

.st_mn_ct_sd_works{
    width: calc(100% - 1rem);
    margin-top: .5rem;
}

.st_mn_ct_sd_works:last-child{
    margin-bottom: .5rem;
}

.st_mn_ct_sd_works > a{
    width: 100%;
}

.st_mn_ct_sd_works > a > img{
    width: 100%;
    height: max-content;
}

.st_mn_ct_sd_wk_info{
    height: 3rem;
}

#st_mn_ct_main{
    width: 75%;
    height: max-content;

    /* DEBUG */
    background-image: linear-gradient(0deg, #37ecba 0%, #72afd3 100%);
}

@media screen and (orientation: portrait) {
    #st_mn_content{
        flex-direction: column;
    }

    #st_mn_ct_side, #st_mn_ct_main{
        width: 100%;
    }

    #st_mn_ct_side{
        min-height: 20rem;
        overflow: scroll hidden;
        height: 22rem;

        /* DEBUG */
        background-image: linear-gradient(90deg, #a8edea 0%, #fed6e3 100%);
    }

    #st_mn_ct_side > div{
        flex-direction: row;
        /* PC仕様リセット */
        width: max-content;
        /* PC仕様リセット */
        height: 100%;
    }

    .st_mn_ct_sd_works{
        height: 21rem;
        /* PC仕様リセット */
        width: auto;

        margin-left: .5rem;
        /* PC仕様リセット */
        margin-top: 0;
    }

    .st_mn_ct_sd_works:last-child{
        margin-right: .5rem;
        /* PC仕様リセット */
        margin-bottom: 0;
    }

    .st_mn_ct_sd_works > a{
        height: 18rem;
        /* PC仕様リセット */
        width: auto;
    }

    .st_mn_ct_sd_works > a > img{
        height: 100%;
        /* PC仕様リセット */
        width: max-content;
    }

    #st_mn_ct_main{
        height: calc(100% - 16rem);
    }
}


/* -------------------------------------------- */
/* フッター部分 */
footer{
    width: 100%;
    height: 6rem;

    /* DEBUG */
    background-color: darkorange;
}

